* {
    padding: 0;
    margin: 0;
}
body {
    background: rgba(0, 0, 0, 0.849);
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}
.previous-replies{
    position: fixed;
    width: 70vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    z-index: 999;
    backdrop-filter: blur(25px);
    border-radius: 13px;
    border: 2px solid gray;
    overflow: auto;
    padding: 50px;
    background: rgba(0, 0, 0, 0.646);
}
#close-btn{
    position:sticky;
    top: 15px;
    margin-left: 93%;
    text-transform: uppercase;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    background: rgb(86, 9, 9);
    padding: 5px;
    z-index: 5;
    &:hover{
        background: red;
    }
}
.reply-tweet{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 20px;
    font-size: 1.1em;
}
.content{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.4em;
}

/* chat-box css */

main{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    width: 85%;
    height: 70%;
    overflow: auto;
    background: #111;
    border-radius: 10px;
}
.chat-box .content{
    margin-top: 100px !important;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid #aaaaaa6b;
    overflow: auto;
}
.message p{
    color: gray;
    font-size: 0.6em;
    margin-top: 10px;
}
.message h6{
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 1px;
}
.sent-message{
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.sent-message p{
    position: relative;
    width: fit-content;
}
.sent-message img{
    position: relative;
}
.received-message{
    position: relative;
    width: 45%;
}
.user-input{
    position: absolute;
    width: 85%;
    top: 79%;
    left: 7.5%;
    box-sizing: border-box;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.user-input input{
    padding: 20px;
    font-size: 1.1em;
    width: 100%;
    outline: none;
    border: 0;
    background: #ccc;
}
.user-input button{
    cursor: pointer;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 19px;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 255, 0.301);
    &:hover{
        background: blue;
    }
}
