<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Home</title>
</head>
<body>

<div class="main">
    <div class="left">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#"><img src="img/x-img.jpg" alt=""></a>
                    </li>
                    <li>
                        <a id="home-btn" href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#">Notifications</a>
                    </li>
                    <li>
                        <a href="#">Messages</a>
                    </li>
                    <li>
                        <a id="profile-btn" href="#profile">Profile</a>
                    </li>
                    <li>
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                            <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="profile">
            <div class="name">
                <b th:text="${user.name}">Name</b>
                <p th:text="${user.username}"> Username</p>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="tweets-div">
            <form th:action="@{/tweet/save}" method="post">
                <div class="create-tweet">
                    <textarea id="tweet-content" name="content" placeholder="What is happening?!"></textarea>
                    <div class="line"></div>
                    <button type="submit" id="post-btn">POST</button>
                    <div class="line"></div>
                </div>
            </form>
            <div th:each="tweet : ${tweets}" class="new-tweet">
                <h5 th:text="${tweet.name}">John Doe</h5>
                <p th:text="${#dates.format(tweet.time, 'yyyy-MM-dd HH:mm')}">Time</p>
                <div class="content">
                    <p th:text="${tweet.content}" th:id="${'tweet-content-' + tweet.id}">This is a tweet</p>
                </div>
                <form th:action="@{'/tweet/save-reply?tweetId=' + ${tweet.id}}" method="post">
                    <div class="create-tweet reply-tweet">
                        <textarea id="tweet-content" name="content" placeholder="Write your Reply!"></textarea>
                        <div class="line"></div>
                        <button type="submit" id="reply-btn">Post Reply</button>
                    </div>
                </form>
                <div class="tweet-btns">
                    <!-- Your initial HTML -->
                    <a th:href="@{'/tweet/updateLikes?id=' + ${tweet.id}}">
                        <span th:text="${tweet.like_count}">0</span>-Likes
                    </a>
                    <a  th:href="@{'/tweet/get-replies?id=' + ${tweet.id}}">View Replies</a>
                    <a href="#">Message</a>
                </div>
                <!-- reply popup -->
              <!--  <div class="reply ">

                </div>-->
            </div>
        </div>
        <div class="profile-div hidden">
            <div class="cover-img">
                <img src="img/cover-pic.jpg" alt="">
            </div>
            <div class="name-area">
                <div th:text="${user.name}" class="name">Fahad</div>
                <a href="#">Edit Profile</a>
            </div>
            <div class="profile-buttons">
                <button id="posts-button" href="">Posts</button>
                <button id="replies-button" href="">Replies</button>
            </div>
            <div class="user-posts hidden">
                <div th:each="userTweet : ${userTweets}" class="new-tweet">
                    <h5 th:text="${userTweet.name}">John Doe</h5>
                    <p th:text="${#dates.format(userTweet.time, 'yyyy-MM-dd HH:mm')}">Time</p>
                    <div class="content">
                        <p th:text="${userTweet.content}" th:id="${'tweet-content-' + userTweet.id}">Post Tweet</p>
                    </div>
                    <div class="tweet-btns">
                        <a th:href="@{'/tweet/updateLikes?id=' + ${userTweet.id}}">
                            <span th:text="${userTweet.like_count}">0</span>-Likes
                        </a>
                    </div>
                </div>
            </div>
            <div class="user-replies hidden">
                <div th:each="userReply : ${userReplies}" class="new-tweet">
                    <h5 th:text="${userReply.name}">John Doe</h5>
                    <div class="content">
                        <p th:text="${userReply.content}">Reply Tweet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="trendings">
            <ul>
                <li>
                    <a href="#">#trending1</a>
                </li>
                <li>
                    <a href="#">#trending2</a>
                </li>
                <li>
                    <a href="#">#trending3</a>
                </li>
                <li>
                    <a href="#">#trending4</a>
                </li>
                <li>
                    <a href="#">#trending5</a>
                </li>
                <li>
                    <a href="#">#trending5</a>
                </li>
                <li>
                    <a href="#">#trending5</a>
                </li>
                <li>
                    <a href="#">#trending5</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="js/profile.js"></script>
<script src="js/home.js"></script>
</body>
</html>

